
nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: #3EC70B;
    width: 25%;
    color: black;
    height: 100vh;
    float: left;
    text-align: center;
}

.outer_main{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: medium;
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 100vh;
    text-align: center;
    color: green;
    display: flex;
    justify-content: center;
    
    
}
.inner_main{
    font-family: monospace;
    font-style: normal;
    font-size: large;
    background-color: black;
    color: green;
    text-align: left;
    margin-left: 5px;
}
.hobby_links{
    text-align: left; 
    font-size: large;
}
footer{
    font-style: oblique;
    text-align: center;
    color: black;
    
}
.welcome_pic{
    display:block;
    height: 110px;
    width: 100%;
    border-top: 2px solid #3EC70B;
    border-left: 2px solid #3EC70B;
    border-right: 2px solid #3EC70B;
}
aside
{
    width: 25%;
    background-color: #3EC70B ;
    float: right;
    height: 100vh;
}