nav{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: #3EC70B;
    width: 25%;
    color: black;
    height: 100vh;
    float: left;
    text-align: center;
}
aside
{
    width: 25%;
    background-color: #3EC70B;
    float: right;
    height: 100vh;
}
main{
    font-size: large;
    background-color: black;
    height: 100vh;
    width: 100%;
}
footer{
    font-style: oblique;
    text-align: center;
    color: black;
}
.welcome_pic{
    display:block;
    height: 110px;
    width: 100%;
    border-top: 2px solid #3EC70B;
    border-left: 2px solid #3EC70B;
    border-right: 2px solid #3EC70B;
}
input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 2px solid green; /* Gray border */
    border-radius: 5px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 15px; /* Bottom margin */
   
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=submit] {
    margin-left: 10px;
    background-color: green;
    color:black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  